<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="padding-top:80px;padding-bottom:80px">
  <!-- wp:heading {"textAlign":"center","level":1} -->
  <h1 class="has-text-align-center">Page Not Found</h1>
  <!-- /wp:heading -->

  <!-- wp:paragraph {"align":"center","textColor":"quinary"} -->
  <p class="has-text-align-center has-quinary-color has-text-color">The page you are looking for could not be found. It
    might have been deleted, renamed, or it did not exist in the first place. You can search the site below, or return
    to the front page.</p>
  <!-- /wp:paragraph -->

  <!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Type to search","buttonText":"Search","buttonPosition":"no-button"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->