<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
  <!-- wp:group {"tagName":"section","align":"wide"} -->
  <section class="wp-block-group alignwide">
    <!-- wp:pattern {"slug":"spaceblock/query-featured-style-1"} /-->
  </section>
  <!-- /wp:group -->

  <!-- wp:group {"tagName":"section","align":"wide"} -->
  <section class="wp-block-group alignwide">
    <!-- wp:group {"tagName":"header"} -->
    <header class="wp-block-group">
      <!-- wp:separator {"backgroundColor":"quaternary","className":"is-style-wide"} -->
      <hr
        class="wp-block-separator has-text-color has-quaternary-color has-alpha-channel-opacity has-quaternary-background-color has-background is-style-wide" />
      <!-- /wp:separator -->

      <!-- wp:heading {"level":4} -->
      <h4>Trending</h4>
      <!-- /wp:heading -->

      <!-- wp:paragraph {"textColor":"tertiary","className":"is-style-description","fontSize":"sm"} -->
      <p class="is-style-description has-tertiary-color has-text-color has-sm-font-size">Posts from selected category.
      </p>
      <!-- /wp:paragraph -->
    </header>
    <!-- /wp:group -->
    <!-- wp:pattern {"slug":"spaceblock/query-featured-style-2"} /-->
  </section>
  <!-- /wp:group -->
  <!-- wp:pattern {"slug":"spaceblock/author-card"} /-->

  <!-- wp:group {"tagName":"section","align":"wide"} -->
  <section class="wp-block-group alignwide">
    <!-- wp:group {"tagName":"header"} -->
    <header class="wp-block-group">
      <!-- wp:separator {"backgroundColor":"quaternary","className":"is-style-wide"} -->
      <hr
        class="wp-block-separator has-text-color has-quaternary-color has-alpha-channel-opacity has-quaternary-background-color has-background is-style-wide" />
      <!-- /wp:separator -->

      <!-- wp:heading {"level":4} -->
      <h4>Category Name</h4>
      <!-- /wp:heading -->

      <!-- wp:paragraph {"textColor":"tertiary","className":"is-style-description","fontSize":"sm"} -->
      <p class="is-style-description has-tertiary-color has-text-color has-sm-font-size">Posts from selected category.
      </p>
      <!-- /wp:paragraph -->
    </header>
    <!-- /wp:group -->
    <!-- wp:pattern {"slug":"spaceblock/query-grid"} /-->

  </section>
  <!-- /wp:group -->

  <!-- wp:group {"tagName":"section","align":"wide"} -->
  <section class="wp-block-group alignwide">
    <!-- wp:group {"tagName":"header"} -->
    <header class="wp-block-group">
      <!-- wp:separator {"backgroundColor":"quaternary","className":"is-style-wide"} -->
      <hr
        class="wp-block-separator has-text-color has-quaternary-color has-alpha-channel-opacity has-quaternary-background-color has-background is-style-wide" />
      <!-- /wp:separator -->

      <!-- wp:heading {"level":4} -->
      <h4>Fresh</h4>
      <!-- /wp:heading -->

      <!-- wp:paragraph {"textColor":"tertiary","className":"is-style-description","fontSize":"sm"} -->
      <p class="is-style-description has-tertiary-color has-text-color has-sm-font-size">Latest Posts.</p>
      <!-- /wp:paragraph -->
    </header>
    <!-- /wp:group -->
    <!-- wp:pattern {"slug":"spaceblock/query-list-normal"} /-->

    <!-- wp:pattern {"slug":"spaceblock/join-card"} /-->

  </section>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->