<!-- wp:template-part {"slug":"header","theme":"spaceblock","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
  <!-- wp:group {"tagName":"section","align":"wide"} -->
  <section class="wp-block-group alignwide">
    <!-- wp:pattern {"slug":"spaceblock/section-header-style-2"} /-->

    <!-- wp:pattern {"slug":"spaceblock/query-featured-style-1"} /-->
  </section>
  <!-- /wp:group -->

  <!-- wp:separator {"align":"wide","className":"is-style-wide"} -->
  <hr class="wp-block-separator alignwide has-alpha-channel-opacity is-style-wide" />
  <!-- /wp:separator -->

  <!-- wp:group {"tagName":"section","align":"wide"} -->
  <section class="wp-block-group alignwide">
    <!-- wp:group {"tagName":"header","style":{"spacing":{"blockGap":"0px"}}} -->
    <header class="wp-block-group">
      <!-- wp:heading {"style":{"typography":{"fontStyle":"italic","fontWeight":"400"}},"fontSize":"md"} -->
      <h2 class="has-md-font-size" style="font-style:italic;font-weight:400">Sticky Posts</h2>
      <!-- /wp:heading -->

      <!-- wp:paragraph {"className":"is-style-description","fontSize":"sm"} -->
      <p class="is-style-description has-sm-font-size">Featured posts section to accommodate 4 posts. Either based on
        category, tags or sticky posts.</p>
      <!-- /wp:paragraph -->
    </header>
    <!-- /wp:group -->

    <!-- wp:pattern {"slug":"spaceblock/query-featured-style-2"} /-->
  </section>
  <!-- /wp:group -->

  <!-- wp:spacer {"className":"is-style-responsive-large"} -->
  <div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-responsive-large"></div>
  <!-- /wp:spacer -->

  <!-- wp:pattern {"slug":"spaceblock/section-banner"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-withsub","theme":"spaceblock","tagName":"footer","className":"site-footer"} /-->