<!-- wp:template-part {"slug":"header","theme":"spaceblock","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"80px"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="padding-bottom:80px">
  <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"80px","right":"80px","bottom":"80px","left":"80px"}}},"backgroundColor":"secondary","layout":{"inherit":true}} -->
  <div class="wp-block-group alignwide has-secondary-background-color has-background"
    style="padding-top:80px;padding-right:80px;padding-bottom:80px;padding-left:80px">
    <!-- wp:post-title {"level":1} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"align":"wide","layout":{"inherit":false}} -->
  <div class="wp-block-group alignwide">
    <!-- wp:post-content {"layout":{"inherit":true}} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"spaceblock","tagName":"footer","className":"site-footer"} /-->